<html>
<head>
<br>
<title>Amazon Login</title>
<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">
</head>
<body>
    
<h1> Login for Amazon </h1>
<form class="form-horizontal" role="form" action="/validate" method="post" >
  <div>
    <label>User Name:</label>
    
      <input type="text" placeholder="Enter Username" name="userName" id="name">
    
  </div>
  <br>
  <div>
    <label>Password:</label>&nbsp&nbsp&nbsp
    
      <input type="password" placeholder="Password" name="password" id="password">
    
  </div>
  <br>
  <br>
  <div class="form-group">
    <div>
      &nbsp&nbsp&nbsp <button type="submit" class="btn btn-default">Sign in</button> &nbsp&nbsp&nbsp <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>

<br>
<br>
Don't have an Amazon ID?? <a href="http://localhost:3000/signup"> Sign Up here - It's free !</a>






</body>
</html>