
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign Up for Amazon</title>
    <style type="text/css">
        a
        {
            color: #2163A6;
            font-size: 15px;
            font-weight: bold;
        }
        a:hover
        {
            color: red;
        }
        ul{list-style-type: none;float:left;width:400px;clear:both;}
        ul li{float:left;width:150px;margin-top:10px;}
        ul li.input{width:250px;}
    </style>

    
</head>
<body>
    <h1>
        Sign Up for Amazon</h1>
    <h5>
        
    </h5>
    <form action="/signup" method="post">
    <ul>
        <li>First Name :</li>
        <li class="input">
            <input name="fname" type="text" /></li>
        <li>Last Name :</li>
        <li class="input">
            <input name="lname" type="text" /></li>
        <li>E-mail :</li>
        <li class="input">
            <input name="email" type="text" /></li>
        <li>Password :</li>
        <li class="input">
            <input name="pwd" type="password" /></li>
        <br>
        <br>
        <br>
        <li class="input">
            <input name="reset1" type="reset" value="Reset" /> </li>
         <li> </li>    
            <input name="Submit1" type="submit" value="Sign Up" /></li>          
    </ul>
</body>
</html>
