<html>
<head>
<title>Amazon Sign out Success</title>
</head>
<body>
<h1> Signout Successfull</h1>
<h3> Close your browser for added security </h3>
<br>
<br>

<a href="http://localhost:3000/login"> Click here to go back to login page !</a>
</body>
</html>