<html>
<head>
<title>Simple ejs</title>
</head>
<body>
<h1> Signup Successfull for <%=name%></h1>

<br>
<br>
<a href="http://localhost:3000/login"> Click here to go back to login page !</a>

</body>
</html>